---
# Installing grafana
- name: Install grafana if not installed (RedHat)
  block:
    - name: Install grafana package
      dnf:
        name: "https://dl.grafana.com/oss/release/grafana-{{ grafana_version }}-1.x86_64.rpm"
        state: latest
        disable_gpg_check: true
      register: dnf_result
      until: dnf_result is succeeded
      retries: 5
      delay: 10
      notify: Restart Grafana
  when: ansible_os_family == "RedHat" and ansible_facts.services["grafana-server.service"] is not defined

- name: Install grafana if not installed (Debian)
  block:
    - name: Create keyring directory
      file:
        path: /etc/apt/keyrings/
        state: directory
        mode: '0755'

    - name: Import GPG key
      get_url:
        url: https://apt.grafana.com/gpg.key
        dest: /etc/apt/keyrings/grafana.asc
        mode: '0644'

    - name: Add grafana repository
      apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/grafana.asc] https://apt.grafana.com stable main"
        state: present
        update_cache: true

    - name: Install grafana package
      apt:
        name: "grafana={{ grafana_version }}"
        state: present
      notify: Restart Grafana
  when: ansible_os_family == "Debian" and ansible_facts.services["grafana-server.service"] is not defined

- name: Set datasources
  template:
    src: grafana_datasources.yml.j2
    dest: /etc/grafana/provisioning/datasources/sample.yaml
    owner: root
    group: grafana
    mode: '0660'
  notify: Restart Grafana
