---
# Installing grafana
- name: Install grafana if not installed (RedHat)
  block:
    - name: Install grafana package
      dnf:
        name: "{{ grafana_package }}"
        state: latest

    # Edit firewall rules
    - name: Allow incoming traffic on port 3000
      firewalld:
        port: 3000/tcp
        permanent: yes
        immediate: yes
        state: enabled
      notify: Reload firewalld
      when: ansible_os_family == "RedHat" and 'firewalld' in ansible_facts.packages

    - name: Grafana enable + restart
      command: /bin/true
      notify: Restart Grafana
  when: ansible_os_family == "RedHat" and grafana_install and ansible_facts.services["grafana-server.service"] is not defined

- name: Install grafana if not installed (Debian)
  block:
    - name: Create keyring directory
      file:
        path: /etc/apt/keyrings/
        state: directory
        mode: 0755

    - name: Import GPG key
      get_url:
        url: https://apt.grafana.com/gpg.key
        dest: /etc/apt/keyrings/grafana.asc
        mode: 0644

    - name: Add grafana repository
      apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/grafana.asc] https://apt.grafana.com stable main"
        state: present
        update_cache: yes

    - name: Install grafana package
      apt:
        name: "{{ grafana_package }}"
        state: latest

    - name: Grafana enable + restart
      command: /bin/true
      notify: Restart Grafana
  when: ansible_os_family == "Debian" and grafana_install and ansible_facts.services["grafana-server.service"] is not defined