---
- name: Populate service facts
  service_facts:

- name: Create loki user
  user:
    name: "{{ loki_user }}"
    shell: /usr/bin/false
    create_home: false

- name: Create loki directory
  file:
    path: /etc/loki
    state: directory
    owner: "{{ loki_user }}"
    group: "{{ loki_user }}"
    mode: '0755'

- name: Get Loki version
  shell: "loki --version | grep 'loki, version' | cut -d ' ' -f 3"
  register: loki_version_current
  changed_when: false
  when: ansible_facts.services["loki.service"] is defined

- name: Install/update Loki binary
  block:
    - name: Download loki
      get_url:
        url: "https://github.com/grafana/loki/releases/download/v{{ loki_version }}/loki-linux-amd64.zip"
        dest: /tmp

    - name: Unzip loki
      unarchive:
        src: /tmp/loki-linux-amd64.zip
        remote_src: true
        dest: /tmp

    - name: Copy loki binary
      copy:
        src: /tmp/loki-linux-amd64
        remote_src: true
        dest: /usr/local/bin/loki
        mode: '0755'
      notify: Restart Loki
  when: loki_version_current is not defined or loki_version_current.stdout | default('') != loki_version

- name: Create loki config
  template:
    src: loki.yml.j2
    dest: /etc/loki/loki.yml
    owner: "{{ loki_user }}"
    group: "{{ loki_user }}"
  notify: Restart Loki

- name: Create systemd service for loki
  copy:
    src: loki.service
    dest: /etc/systemd/system/loki.service
    owner: root
    group: root
    mode: '0644'
  notify: Restart Loki
