---
# Installing node_exporter
- name: Install, configure and start node_exporter
  block:
    - name: Create node_exporter user
      user:
        name: "{{ exporter_user }}"
        shell: /usr/bin/false
        create_home: false

    - name: Download node_exporter
      get_url:
        url: "https://github.com/prometheus/node_exporter/releases/download/v{{ exporter_version }}/node_exporter-{{ exporter_version }}.linux-amd64.tar.gz"
        dest: "{{ download_location }}"

    - name: Untar node_exporter
      unarchive:
        src: "{{ download_location }}/node_exporter-{{ exporter_version }}.linux-amd64.tar.gz"
        remote_src: true
        dest: "{{ download_location }}"

    - name: Copy node_exporter binary
      copy: 
        src: "{{ download_location }}/node_exporter-{{ exporter_version }}.linux-amd64/node_exporter"
        remote_src: true
        dest: /usr/local/bin/
        mode: '0755'

    - name: Create systemd service for node_exporter
      copy:
        src: node_exporter.service
        dest: /etc/systemd/system/node_exporter.service

    # Post installation
    - name: Reload systemd config
      systemd:
        daemon_reload: yes

    - name: Cleanup obsolete files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ download_location }}/node_exporter-{{ exporter_version }}.linux-amd64.tar.gz"
        - "{{ download_location }}/node_exporter-{{ exporter_version }}.linux-amd64"

    # Edit firewall rules
    - name: Allow incoming traffic on port 9100
      firewalld:
        port: 9100/tcp
        permanent: yes
        immediate: yes
        state: enabled
      notify: Reload firewalld
      when: ansible_os_family == "RedHat" and ansible_facts.services["firewalld.service"] is defined

    - name: Node_exporter enable + restart
      command: /bin/true
      notify: Restart Node_exporter
  when: exporter_install and ansible_facts.services["node_exporter.service"] is not defined