---
# Handlers
- name: Restart Grafana
  service:
    name: grafana-server
    enabled: true
    state: restarted

- name: Restart Prometheus
  service:
    name: prometheus
    enabled: true
    state: restarted

- name: Restart Node_exporter
  service:
    name: node_exporter
    enabled: true
    state: restarted

- name: Restart Loki
  service:
    name: loki
    enabled: true
    state: restarted

- name: Restart Fluent-bit
  systemd_service:
    name: fluent-bit
    enabled: true
    state: restarted

- name: Reload firewalld
  service:
    name: firewalld
    enabled: true
    state: reloaded
